*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}
.box{
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 30px;
    background: #2f363e;
    padding: 30px 50px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 
    10px 10px 70px rgba(0, 0, 0, 0.25), 
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(225,225,225,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    overflow-y: auto;
    scrollbar-width: thin;
}

.box::-webkit-scrollbar {
    width: 10px; 
}

.box::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 5px; 
}

.box::-webkit-scrollbar-thumb:hover {
    background-color: #777; 
}

.box::-webkit-scrollbar-track {
    background-color: black; 
    border-radius: 10px;
}

h1{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: larger1.75em;
    margin-bottom: 10px;
}
#inputbx{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
   inset 2px 2px 5px rgba(0, 0, 0, 0.5),
  inset -3px -3px 5px rgba(0, 0, 0, 0.5);

}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid aqua;
    margin: 5px 0;
    background-color: aqua;
    border-radius: 30px;

}


.task-text {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 1.05em;
    font-weight: 500;

    
}


.delete-button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}


.delete-button:hover {
    background-color: red;
}

.completed-task {
    background-color: aqua; 
    text-decoration: line-through;
}





